@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700|Exo+2:300,600);

body {
  font-family: "Exo 2", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  display: grid;
  grid-template-areas: 
    "header header header"
    "nav article site"
    "footer footer footer";
  grid-template-rows: 80px 1fr 70px;  
  grid-template-columns: 20% 1fr 20%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: 100vh;
  margin: 0;
  }  

header, footer{
	padding: 1.2em;
	background-color: #DB4637;
	color: #FFFFFF;
	margin-top: -5px;
	clear: both;
  }

nav, div {
	padding: 1.2em;
	background-color: #FFDCAA;
	color: #484848;
  }
#mainNav p font {
	text-align: justify;
	text-indent: 6px;
}
.listyle {
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #DB4637;
	border-color: #DB4637;
}

li {
	float: right;
	font-size: x-large;
}

li a {
	display: inline-block;
	color: white;
	text-align: left;
	padding: 14px 16px;
	text-decoration: none;
	text-transform: none;
}

li a:hover {
	/* [disabled]background-color: #EEAAA3; */
	color: #FFDCAA;
	text-decoration: none;
}

#pageHeader {
	grid-area: header;
	font-family: chunk;
	font-style: normal;
	font-weight: 400;
	font-size: large;
	margin-bottom: 0px;
	padding-bottom: 1px;
	padding-top: 15px;
	background-color: #DB4537;
	border-color: #DB4637;
	color: #FFFFFF;
	-webkit-box-shadow: 0px 0px #DB4637;
	box-shadow: 0px 0px #DB4637;
  }
#pageFooter {
  grid-area: footer;
  }
#mainArticle {
	grid-area: article;
	background-color: #FFFFFF;
  }
#siteAds { 
  grid-area: site; 
  }
#mainNav section {
	text-indent: 0;
	text-align: left;
	line-height: 2em;
}
