@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700|Exo+2:300,600);

body {
  font-family: "Exo 2", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  display: grid;
  grid-template-areas: 
    "header"
    "article"
    "footer";
  grid-template-rows: 80px 1fr 70px;  
  grid-template-columns: 100%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: 100vh;
  margin: 0;
  }  

header, footer{
  padding: 1.2em;
  background: #006699;
  color: #FFFFFF;
  }

nav, div {
  padding: 1.2em;
  background: #cce5ff;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #006699;
}

li {
    float: right;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

/*img:hover{
    border: 3px solid #000;
    border-radius:15%;
    -webkit-transition: all 1s ease;
                  -moz-transition: all 0.5s ease;
                       -o-transition: all 0.5s ease;
                    -ms-transition: all 0.5s ease;
                           transition: all 0.5s ease; 
}*/

img {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
img:hover {
  -webkit-filter: grayscale(100%);
}

#pageHeader {
  grid-area: header;
  }
#pageFooter {
  grid-area: footer;
  }
#mainArticle { 
  grid-area: article;      
  }
#siteAds { 
  grid-area: site; 
  }
