div.container {
    width: 100%;
}

header, footer {
    color: white;
    background-color: black;
}

nav {
    width: 100%;
    display: block;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}